.card:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
  }
  
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
  
/* YouTube Outline Button */
.btn-outline-youtube {
  border: 1px solid #FF0000;
  color: #FF0000;
  background-color: transparent;
  transition: all 0.2s ease;
}
.btn-outline-youtube:hover {
  background-color: #FF0000;
  color: white;
}

/* YouTube Music Outline Button */
.btn-outline-ytmusic {
  border: 1px solid #EA0C0C;
  color: #EA0C0C;
  background-color: transparent;
  transition: all 0.2s ease;
}
.btn-outline-ytmusic:hover {
  background-color: #EA0C0C;
  color: white;
}

